@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand/static/Quicksand-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand/static/Quicksand-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand/static/Quicksand-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand/static/Quicksand-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand/static/Quicksand-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

body {
    font-family: 'Quicksand', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, green, yellow, red);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, main, footer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

header, footer {
    padding: 20px 0;
}

.logo img {
    max-width: 100px;
    height: auto;
}

nav {
    text-align: center;
    font-family: 'Avantgarde', 'TeX Gyre Adventor', 'URW Gothic L', sans-serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.navbar {
    background-color: #ffffff;
    padding: 20px 0;
    border-radius: 20px;
}

.navbar ul li a {
    color: #000000;
    font-size: 18px;
}

main {
    flex: 1;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: auto;
    color: #ffffff;
}

.content-container {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
}

.section-container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    padding: 20px;
}

.section {
    margin-bottom: 20px;
}

.section h2,
.section .subtitle {
    color: #000000;
    max-width: 80%;
    margin: 0 auto;
}

.intro {
    font-size: 18px;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
}

.image-grid img {
    max-width: 100%;
    height: auto;
}

.image-wrapper {
    margin: 0 10px;
}

.image-box {
    border: 2px solid #ffffff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.image-box img {
    display: block;
    width: 100%;
    height: auto;
}

.caption {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    text-align: center;
}

.caption a {
    color: #000000;
    text-decoration: none;
}

.caption a:hover {
    text-decoration: underline;
}

.submit-button {
    background-color: #006400;
    color: #ffffff;
    border: 2px solid #000000;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #004d00;
}
